.about-content{
    padding: 36px 144px 72px;
    text-align: justify;
}

.about-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    background-color: #FFFFFF;
    align-items: center;
    text-align: center;
}

.about-subtitle{
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}
