:root {
  --button-color: white;
  
  --dropdown-highlight: #F0EFED;
  --dropdown-width: 120px;
  --dropdown-background: white;
  --dropdown-color: black;
}

.card-wrapper{
    width: 210px;
    height: 304px;
    background: #FAFAFA;
    font-size: 10px;
    margin: 10px;
}

.card-wrapper:hover{
    box-shadow: 0px 4px 50px 5px rgba(0, 0, 0, 0.25);
}

.dots{
    margin-bottom: -13px;
    margin-left: 190px;
}


.book{
    width: 150px;
    margin-right: 15px;
    margin-left: 15px;
}

.info-book{
    display: flex;
    flex-direction: column;
    line-height: 1px;
}

.price-rating-book{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.price-book{
  color: #00A96C;
}

.title-book{
    margin-top: 0px;
}

.horizontal-line{
    margin-left: 17px;

    background-color: #00000059;
    height: 1px;
    width: 175px;
}

a.button {
  display: inline-block;
  padding: 20px 28px;
  border-radius: 50px;
  box-sizing: border-box;
  border: none;
  background: var(--button-background);
  color: var(--button-color);
  font-size: 24px;
  cursor: pointer;
}

a.button:active {
  filter: brightness(75%);
}

.dropdown {
  position: relative;
  padding: 0;
  margin-right: 1em;
  
  border: none;
}

.dropdown summary {
  list-style: none;
  list-style-type: none;
}

.dropdown > summary::-webkit-details-marker {
  display: none;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown summary:focus a.button {
  border: 2px solid white;
}

.dropdown summary:focus {
  outline: none;
}

.dropdown ul {
  position: absolute;
  padding: 5px 0;
  width: var(--dropdown-width);
  left: 50%;
  margin-left: calc((var(--dropdown-width) / 2)  * -1);
  box-sizing: border-box;
  z-index: 2;
  
  background: var(--dropdown-background);
  border-radius: 6px;
  list-style: none;
}

.dropdown ul li {
  padding: 0;
  margin: 0;
  border-color: black;
}

.dropdown ul li a:link, .dropdown ul li a:visited {
  padding: 10px 40px;
  width: 100%;
  box-sizing: border-box;
  
  color: var(--dropdown-color);
  text-decoration: none;
}

.dropdown ul li a:hover {
  background-color: var(--dropdown-highlight);
}

.dropdown ul::before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--dropdown-background) transparent;
}

.dropdown > summary::before {
  display: none;
}

.dropdown[open] > summary::before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.dropdown-li{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  line-height: 36px;
}
